{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Applicant</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Namelast</th>
                <td>{{ entity.nameLast }}</td>
            </tr>
            <tr>
                <th>Namefirst</th>
                <td>{{ entity.nameFirst }}</td>
            </tr>
            <tr>
                <th>Namemiddle</th>
                <td>{{ entity.nameMiddle }}</td>
            </tr>
            <tr>
                <th>Ssn</th>
                <td>{{ entity.ssn }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('applicant') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('applicant_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
